APP_ENV=local
DEBUG=true
OPENAI_API_KEY=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
WASTE_LIFE_DB_DIR=./chroma_db
KANKO_DB_DIR=./chroma_db
LOG_DIR=./logs
DATA_DIR=./data
STREAMLIT_PORT=8501
